.*history
.*hst*
.viminf*

.cache/
.mozilla/
.ssh/
.vim/
.mpd/
.icons/

Documents/
Downloads/
Music/
Pictures/
Videos/

.local/share/
.local/lib/
.config/ncmpcpp/

.xsession-errors
.tz
.Xauthority
.gtkrc-2.0
.nvidia-settings-rc

.config/QtProject.conf
.config/caja/
.config/dconf/
.config/filezilla/
.config/gtk-3.0/
.config/htop/
.config/pulse/
.config/systemd/
.config/mimeapps.list
