.*history
.histfile
.*hst*
.viminf*

__pycache__/

.cache/
.mozilla/
.ssh/
.var/
.vim/
.mpd/
.icons/
.pki/
.putty/
.ViberPC/
.vmware/
.lyrics/
.thunderbird/
.gnupg/
.cabal/
.ghc/
.parallel/
.SynologyDrive/
.nv/
.vcpkg/
.ghcup/
.tmux/
.npm/

Documents/
Downloads/
Music/
Pictures/
Videos/
go/
SynologyDrive/

.local/share/
.local/lib/

.xsession-errors
.tz
.fehbg
.Xauthority
.gtkrc-2.0
.nvidia-settings-rc
.git-credentials
.gitconfig

.config/QtProject.conf
.config/caja/
.config/dconf/
.config/filezilla/
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/pulse/
.config/systemd/
.config/mimeapps.list
.config/discord/
.config/vlc/
.config/Microsoft/
.config/teams/
.config/transmission
.config/coc
.config/keepassxc/keepassxc.ini
.config/memos.json
.config/gcolor3
.config/nvim/plugin
.config/autorandr/
.config/libreoffice/
.config/ncmpcpp/
.config/rncbc.org/
.config/obs-studio/
.config/ranger/plugins/
.config/a2ln
.config/tmux/plugins/

.local/bin/get_objgraph
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/undill
.local/bin/pja-sftp
.local/bin/spotifywm.so
.local/state/
