.*history
.*hst*
.viminf*

__pycache__/

.cache/
.mozilla/
.ssh/
.var/
.vim/
.mpd/
.icons/
.pki/
.putty/
.ViberPC/
.vmware/
.lyrics/
.thunderbird/
.gnupg/

Documents/
Downloads/
Music/
Pictures/
Videos/
ftp
go/

.local/share/
.local/lib/
.config/ncmpcpp/

.xsession-errors
.tz
.fehbg
.Xauthority
.gtkrc-2.0
.nvidia-settings-rc
.git-credentials
.gitconfig

.config/QtProject.conf
.config/caja/
.config/dconf/
.config/filezilla/
.config/gtk-3.0/
.config/htop/
.config/pulse/
.config/systemd/
.config/mimeapps.list
.config/discord/
.config/vlc/
.config/Microsoft/
.config/teams/
.config/transmission
.config/coc
.config/keepassxc/keepassxc.ini
.config/memos.json
.config/gcolor3
.config/nvim/plugin
.config/autorandr/

.local/bin/get_objgraph
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/undill
.local/state/
